
@colorLighter : #5ccccc;
@colorLight : #33cccc;
@color : #009999;
@colorDark : #1d7373;
@colorDarker : #006363;
@colorContrast : #cc3333;


.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
}

.center-gradient (@origin: left, @start: #ffffff, @mid: #000000, @stop: #000000) {
  background-image: -webkit-linear-gradient(@origin, @start, @mid, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @mid,  @stop);
  background-image: -o-linear-gradient(@origin, @start, @mid,  @stop);
  background-image: -ms-linear-gradient(@origin, @start, @mid,  @stop);
  background-image: linear-gradient(@origin, @start, @mid,  @stop);
}


/* Override some defaults */
html, body {
  background-color:  hsl(0, 0%, 95%);
}
.navbar {
  margin-bottom: 0;
}
.nav {
  li {
    line-height:34px;
  }
}


.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.navbar .brand {
  padding: 5px 20px;
}

/* The white background content wrapper */
.content {
  .bulletpoints {
    h2 {
      text-align: center;
      padding:0;
    }
    p {
      text-align:center;
      padding:0;
      padding:0 14px;
    }
  }
  h1 {
    letter-spacing:2px;
    font-family:"Helvetica Neue", sans-serif;
    font-weight:normal;
    background-color:@colorDark;
    color:white;
    border-radius:50px;
    &:before {
      content : '• ';
      color: @colorLighter;
      display:inline-block;
      margin-right:10px;
      margin-left:10px;
      vertical-align: top;
    }

    padding:10px;
  }
  blockquote {
    p {
    }
  }
  h2,h3,h4,h5,h6 {
    padding-left:20px;
    code {
      font-size:.9em;
    }
  }
  .highlight {
    pre {
      font-size:20px;
      code {
        font-size:15px;
      }
    }
    margin:0 20px;
  }
  hr {
    height: 1px;
    margin: 30px 0;
    .center-gradient(left, transparent,grey,transparent);
    border: 0;
  }
  img {
  }
  .output-examples, .code-example {
    h2 {
      padding:0;
    }
    text-align:center;
    img {
      padding:0
    }
    .thumbnail {
      padding:0;
      border-radius:5px;
    }
  }
  p {
    font-size:1.25em;
    line-height:1.2em;
    padding:0 20px;
  }
}

#iphoneOutputExample {
  border-radius:5px;
}
#terminalOutputExample {
  border-radius:5px;
}
#chromeOutputExample {
  border-radius:5px;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  border-radius: 6px 6px 0 0;

}

.content {
  min-height:500px;
}

.masthead {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
//  .gradient(top,hsl(0, 0%, 7%),#61a1bd);
  //.gradient(top,hsl(0, 0%, 100%),#e6e6e6);

  .gradient(top, @color, @colorDarker);

  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  padding: 70px 0 20px;
  margin:0;
  h1 {
    font-size: 90px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -2px;
    color: hsl(0,0%,90%);
  }
  h2 {
    font-weight: 200;
    margin-bottom: 5px;
    color: hsl(0, 0%, 85%);
  }
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color:@colorDarker;
  text-align:center;
  p {
    margin-bottom: 0;
    color: hsl(0,0%,80%);
  }
  a {
    color: hsl(200,20%,70%);
  }
}

/* Desktop large */
@media (min-width: 1200px) {
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet / desktop */
@media (min-width: 768px) and (max-width: 980px) {
}

/* Tablet */
@media (max-width: 767px) {
}

/* Landscape phones */
@media (max-width: 480px) {
}
